<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;

        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .failed-title {
            color: red;
            font-size: 36px;
            margin-bottom: 20px;
        }

        .logo {
            width: 50%;
            height: 50%;
        }

        p {
            font-size: 20px;
        }

        .btn-container {
            margin-top: 40px;
        }

        .home-btn {
            padding: 8px;
            background-color: #add8e6;
            text-decoration: none;
            margin-top: 10px;
            font-weight: 500;
            border-radius: 8px;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1 class="failed-title">Payment Faild</h1>
        <img src="https://i.ibb.co/tbqFkjc/brand-Logo.png" alt="Logo" class="logo">
        <p>For more information contact us</p>
        <div class="btn-container">
            <a class="home-btn" href="https://sports-facility-bookings-plartform.netlify.app">Go Home</a>
        </div>
    </div>
</body>

</html>