<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <link rel="stylesheet" href="/public/styles.css">
  
</head>
<body>
    <div class="container">
        <h1 class="failed-title">Payment Faild</h1>
        <img src="https://www.aamarpay.com/images/logo/aamarpay_logo.png" alt="Logo" class="logo">
        <p>For more information contact us</p>
        <a href="http://localhost:5173">Go Home</a>
    </div>
</body>
</html>